.contactsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contactCard {
  display: flex;
  align-items: center;
  gap: 45px;
}

.delContactBtn {
  box-shadow: 0px 2px 10px 2px #b35b95;
  border-radius: 5px;
  height: 25px;
  border: none;
  color: #64214d;
  font-weight: 600;
}
